@model CSEmployerMVC.Models.Admin

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header">Admin Page</h2>

<h3>Applicant table</h3>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Zip</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Degree</th>
        <th>Known Languages</th>
        <th></th>
    </tr>

@foreach (var app in Model.Applicants) {
    <tr>
        <td>@Html.DisplayFor(modelItem => app.FullName)</td>
        <td>@Html.DisplayFor(modelItem => app.DOB)</td>
        <td>@Html.DisplayFor(modelItem => app.Address)</td>
        <td>@Html.DisplayFor(modelItem => app.Zip)</td>
        <td>@Html.DisplayFor(modelItem => app.City)</td>
        <td>@Html.DisplayFor(modelItem => app.State)</td>
        <td>@Html.DisplayFor(modelItem => app.Country)</td>
        <td>@Html.DisplayFor(modelItem => app.Phone)</td>
        <td>@Html.DisplayFor(modelItem => app.Fax)</td>
        <td>@Html.DisplayFor(modelItem => app.Email)</td>
        <td>@Html.DisplayFor(modelItem => app.Degree)</td>
        <td>@Html.DisplayFor(modelItem => app.KnownLanguages)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Applicant", new { id= app.ID }) <br />
            @Html.ActionLink("Details", "Details", "Applicant", new { id=app.ID }) <br />
            @Html.ActionLink("Delete", "Delete", "Applicant", new { id= app.ID })
        </td>
    </tr>
}

</table>

<h3>Employer table</h3>
<table class="table table-bordered">
    <tr>
        <th>Company Name</th>
        <th>Address</th>
        <th>Zip</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Phone</th>
        <th>Fax</th>
        <th>Email</th>
        <th>Password</th>
        <th></th>
    </tr>

@foreach (var emp in Model.Employers) {
    <tr>
        <td>@Html.DisplayFor(modelItem => emp.CompanyName)</td>
        <td>@Html.DisplayFor(modelItem => emp.Address)</td>
        <td>@Html.DisplayFor(modelItem => emp.Zip)</td>
        <td>@Html.DisplayFor(modelItem => emp.City)</td>
        <td>@Html.DisplayFor(modelItem => emp.State)</td>
        <td>@Html.DisplayFor(modelItem => emp.Country)</td>
        <td>@Html.DisplayFor(modelItem => emp.Phone)</td>
        <td>@Html.DisplayFor(modelItem => emp.Fax)</td>
        <td>@Html.DisplayFor(modelItem => emp.Email)</td>
        <td>@Html.DisplayFor(modelItem => emp.ePassword)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Employer", new { id=emp.ID }) <br />
            @Html.ActionLink("Details", "Details", "Employer", new { id=emp.ID }) <br />
            @Html.ActionLink("Delete", "Delete", "Employer", new { id=emp.ID })
        </td>
    </tr>
}

</table>

<h3>Job Table</h3>
<table class="table table-bordered">
    <tr>
        <th>Job Title</th>
        <th>Department</th>
        <th>Recruiter</th>
        <th>Location</th>
        <th>Company Name</th>
        <th></th>
    </tr>

@foreach (var jb in Model.Jobs) {
    <tr>
        <td>@Html.DisplayFor(modelItem => jb.JobTitle)</td>
        <td>@Html.DisplayFor(modelItem => jb.Department)</td>
        <td>@Html.DisplayFor(modelItem => jb.Recruiter)</td>
        <td>@Html.DisplayFor(modelItem => jb.Location)</td>
        <td>@Html.DisplayFor(modelItem => jb.Employer.CompanyName)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Job", new { id=jb.ID }) |
            @Html.ActionLink("Details", "Details", "Job", new { id=jb.ID }) |
            @Html.ActionLink("Delete", "Delete", "Job", new { id=jb.ID })
        </td>
    </tr>
}
</table>

<h3>Programming Language Table</h3>
<table class="table table-bordered">
    <tr>
        <th>PglName</th>
        <th>ConfigID</th>
        <th></th>
    </tr>

@foreach (var pgl in Model.PGLanguages) {
    <tr>
        <td>@Html.DisplayFor(modelItem => pgl.PglNameBase)</td>
        <td>@Html.DisplayFor(modelItem => pgl.ConfigId)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Job", new { id=pgl.ID }) |
            @Html.ActionLink("Details", "Details", "Job", new { id=pgl.ID }) |
            @Html.ActionLink("Delete", "Delete", "Job", new { id=pgl.ID })
        </td>
    </tr>
}
</table>
