@model IEnumerable<CSEmployerMVC.Models.Applicant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
     <button type="button" class="btn btn-primary" title="Create New" value="C" onclick="location.href='@Url.Action("Create", "Applicant")'">Create New</button>
    <!-- @Html.ActionLink("Create New", "Create") -->
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Languages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsExp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Languages)
        </td>
        <td>
            <!-- @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) -->
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default" title="Edit" value="E" onclick="location.href='@Url.Action("Edit", "Applicant", new { id = item.ID })'">Edit</button>
                <button type="button" class="btn btn-info" title="Details" value="T" onclick="location.href='@Url.Action("Details", "Applicant", new { id = item.ID })'">Details</button>
                <button type="button" class="btn btn-danger" title="Delete" value="D" onclick="location.href='@Url.Action("Delete", "Applicant", new { id = item.ID })'">Delete</button>
            </div>
        </td>
    </tr>
}

</table>
