@model IEnumerable<CSEmployerMVC.Models.Applicant>


@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
  <!-- @Html.ActionLink("Create New", "Create") -->
     @using (Html.BeginForm()){
         <p>
         <b>Known Langauges or Degree</b>: @Html.TextBox("SearchString")<span style="width:20px">&nbsp;</span>
         <input type="submit" value="Filter" /></p>
        }
</p>
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>Location</th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class ="mainrow">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
      
        <td>
            <section><span class="glyphicon glyphicon-plus"></span></section>
        </td>
    </tr>
    <tr class="subrow active">
         <td colspan="2">
            <p><b>Email</b></p>@Html.DisplayFor(modelItem => item.Email)
        </td>
        <td colspan="2">
            <p><b>Phone:</b> @Html.DisplayFor(modelItem => item.Phone) </p>
            <p><b>Fax:</b> @Html.DisplayFor(modelItem => item.Fax)</p>
        </td>
         <td colspan="2">
            <p><b>Known Programming Languages:</b> <br> @Html.DisplayFor(modelItem => item.KnownLanguages)</p>
        </td>
        <td colspan="2">
           <button type="button" class="btn btn-info" title="Details" value="T" onclick="location.href='@Url.Action("Details", "Applicant", new { id = item.ID })'">Details</button>
        </td>
    </tr>
}



    <!-- actionlink("Text", "link") -->
</table>

