@model IEnumerable<CSEmployerMVC.Models.Job>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm())
{
    <p><b>Search Job Title or Company Name:</b> @Html.TextBox("SearchString")  
    <input type="submit" value="Filter" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Job Title", "Search", new { sortOrder = ViewBag.JobSortParm })
        </th>
        <th>
            @Html.ActionLink("Posted by", "Search", new { sortOrder = ViewBag.CompSortParm })
        </th>
        <th>
            @Html.ActionLink("Posted on", "Search", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Position
        </th>
        <th>
            Location
        </th>
        <th>
             Salary
        </th>
        <th> @Html.ActionLink("Hours per Week", "Search", new { sortOrder = ViewBag.NumSortParm })</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employer.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePosted) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary) per @Html.DisplayFor(modelItem => item.PayRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursPerWeek)
        </td> 
        <td>
            <button type="button" class="btn btn-info" title="Details" value="T" onclick="location.href='@Url.Action("Info", new { id = item.ID })'">More</button>
        </td>
    </tr>
}

</table>