@model CSEmployerMVC.Models.Employer

@{
    ViewBag.Title = "Profile";
}

<div class="page-header">
    <h2>@Html.DisplayFor(model => model.CompanyName) <small>'s Profile</small></h2>
</div>

<div class="row">
    <div class="col-lg-4">
        <address>
            <p>
                <strong>@Html.DisplayFor(model => model.CompanyName)</strong><br>
                @Html.DisplayFor(model => model.Address)<br>
                @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)<br />
                @Html.DisplayFor(model => model.Country)<br />
                <abbr title="Phone">P:</abbr> @Html.DisplayFor(model => model.Phone) <br />
                <abbr title="Fax">F:</abbr> @Html.DisplayFor(model => model.Fax) <br />
                <a href="mailto:#">@Html.DisplayFor(model => model.Email)</a>
            </p>
        </address>
    </div>
    <div class="col-lg-8">
        <table class="table">
            <tr>
                <th>Job Title</th>
                <th>Department</th>
                <th>Recruiter</th>
                <th>Location</th>
                <th></th>
            </tr>
            <tr class="mainrow">
             @foreach (var item in Model.Jobs.Where(x => x.EmployerID == x.Employer.ID)){
                
                <td>@Html.DisplayFor(modelItem => item.JobTitle)</td> 
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.Recruiter)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td><section><span class="glyphicon glyphicon-plus"></span></section></td>
            }
            </tr>
            <tr class="subrow active">
                 @foreach (var item in Model.Jobs.Where(x => x.EmployerID == x.Employer.ID)){
                     <td><p><b>Candidates:</b>@Html.DisplayFor(modelItem => item.Candidates)</p></td> 
                     <td><button type="button" class="btn btn-default" title="Candidates" value="C" onclick="location.href='@Url.Action("Manage", "Job")'">Manage Candidates</button></td>
                     <td>
                        @Html.ActionLink("Edit", "../Job/Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "../Job/Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "../Job/Delete", new { id=item.ID })
                    </td>  
                 }
            </tr>

        </table>
        <button type="button" class="btn btn-info" title="Create Job" value="J" onclick="location.href='@Url.Action("Create", "Job")'">Create Job</button>
    </div>
</div>

<button type="button" class="btn btn-default" title="Back to List" value="T" onclick="location.href='@Url.Action("Index", "Employer")'">Back to List</button>
